h1, h2, h3 {
	font-weight: 300;
}

h1 {
	font-size: 25px;
}

div .editable {
	border: 1px solid #ddd;
	border-radius: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

input {
	padding-left: 5px;
	padding-right: 5px;
	height: 40px;
	line-height: 40px;
	width: 100%;
	max-width: 250px;
	font-size: 1.1em;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	border: 1px solid #ddd;
	border-radius: 0px;
	background-color: #fff!important;
}

textarea {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
	max-width: 400px;
	resize: none;
	height: 80px;
	font-size: 1.1em;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	border: 1px solid #ddd;
	/*border-radius: 3px;*/
}

input:focus, textarea:focus, .editable:focus, select:focus {
	border-color: rgb(0, 171, 240);
}

select {
	padding: 5px;
	width: 250px;
	height: 40px;
	border: 1px solid #ddd;
	font-size: 1.1em;
	background: url("../images/ui/dropdown-background.png") no-repeat;
	/*background-size: 80%;*/
	background-position: right;
	border-radius: 0;
}

option {
	font-size: 1.1em;
	color: #666;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {

	background-color: transparent!important;
}

.store-logo {

	max-height: 50px;
	display: inline-block;
}

.button {
	cursor: pointer;
	opacity: 0.9;
}

.button:hover {
	opacity: 1.0;
}

.button-blue {
	background-color: rgb(0, 171, 240);
}

.button-light {

	background-color: #ecf0f1;
}

.file-input-wrap {

	position: relative;
	display: inline-block;
	font: normal normal normal 12.6666669845581px/normal Arial;
	padding: 10px 20px;
	width: auto;
	cursor: pointer;
	/*background-color: rgb(0, 171, 240);*/
	background-color: #ecf0f1;
	color: #1f1f1f;
	opacity: 0.9;
}

.file-input-wrap:hover {

	opacity: 1.0;
}

.file-input-wrap * {

	cursor: pointer;
}

.file-input-wrap input[type="file"] {

	-webkit-appearance: none;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
}

.text-medium {
	font-weight: 500;
	font-size: 1.2em;
}

.round {
    border-radius: 50%;
}

.container {
	/*width: 80%;*/
	max-width: 400px;
}

.page-content {
    min-height: 100vh;
	overflow: hidden;
}

.slider-container {
    padding-top: 25px;
    width: 80%;
    max-width: 400px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

.slider-value {
	color: #000;
	font-weight: 400;
}

.slider-control {

	text-align: center;
	line-height: 35px;
}

#map {

	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	height: calc(100% - 50px);
}

html, body, .all-elements, .page-content {

	height: 100%;
	width: 100%;
	/*
	height: 100vh;
	width: 100vw;
	*/
}

html, body {

	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}


.all-elements {

	z-index: 3;
	position: absolute;
	top: 0;
	-webkit-transition: width 0.3s;
	   -moz-transition: width 0.3s;
	    -ms-transition: width 0.3s;
	     -o-transition: width 0.3s;
	        transition: width 0.3s;
}

#map {

	overflow: hidden;
}

#map * {

	overflow: visible;
}

#map .leaflet-control-container {

	top: 50px;
	right: 0px;
	position: fixed;
	z-index: 9;
}

#map .leaflet-control-attribution {

	display: none;
}

#map-togglers {

	position: fixed;
	z-index: 9;
	right: 0px;
	top: 165px;
}

#map-interaction {

	position: relative;
	right: 10px;
	z-index: 3;
	width: 40px;
	border: 1px solid #999;
	border-radius: 3px;
	background-color: #fff;
}

#map-ui-toggler {

	position: relative;
	right: 10px;
	z-index: 4;
	width: 40px;
	border: 1px solid #999;
	border-radius: 3px;
	background-color: #fff;
}

#map-ui-toggler li, #map-interaction li {

	list-style: none;
	height: 40px;
	line-height: 0;
	padding: 8px 0;
	text-align: center;
	cursor: pointer;
	margin-bottom: 0;
}

#map-ui-toggler li, #map-interaction li {

	border-top: 1px solid #ddd;
}

#map-ui-toggler li:first-child, #map-interaction li:first-child {

	border-top: none;
}

#map-ui-toggler li.active, #map-interaction li.active {

	color: rgb(0, 171, 240);
}

#views {

	position: absolute;
	top: 50px;
	z-index: 12;
	height: 100%;
	left: 0px;
	overflow: visible;
}

.wide #views {

	left: 348px;
}

.narrow #views {

	left: 100%;
	width: 100%;
}

.content {

	overflow: visible;
	height: 100%;
	height: calc(100% - 50px);
	margin: 0;
}

.content .notification-area {
	/*position: absolute;
	top: 0;
	left: 0;
	height: auto;
	width: 100%;*/
	z-index: 999;
}

@media (min-width: 768px) {

	.content {

		margin: 0;
	}
}

.view {

	padding: 30px;
	width: 350px;
	height: 100%;
	height: calc(100vh - 50px);
	background-color: rgb(245, 245, 245);
	overflow: auto!important;
	-webkit-overflow-scrolling: touch!important;
	z-index: 2;
	padding-bottom: 50px;
	/*left: -350px;*/
}

.narrow .view {

	width: 100%;
	left: -100%;
}

.wide .view {

	left: 0;
}

.view h1 a {

	padding: 0 10px;
	display: inline-block;
	height: 19px;
	line-height: 19px;
}

.view h1:first-child a {

	color: #1f1f1f;
	overflow: visible;
	display: block;
}

.view h1 a img {

	display: inline-block;
	height: 19px;
}

/*
.content {

	left: -350px;
}

.wide .content {

	left: 0;
}*/

.page-sidebar {

	width: 350px;
	background: rgb(250, 250, 250);
}

.page-sidebar-scroll {

	width: 370px;
}

.button-icon {

	padding: 10px;
}

.button-icon i {

	margin: 0;
}

button[data-status="idle"] i {

	display: none;
}

button[data-status="working"] i {

	display: inline-block;
}

#own-places tr td:nth-child(2) a, #location-search-results tr td:nth-child(2) a, #own-catchlist tr td:nth-child(2) a {

	color: #2980b9;
}

#location-search-form #location-search-place {

	width: 85%;
	display: inline-block;
	vertical-align: top;
}

#location-search-form .button {

	width: 14%;
	padding: 14px 0;
	line-height: 0;
	text-align: center;
	display: inline-block;
}

#location-search-form .button i {

	margin: 0;
}

.leaflet-popup {

	width: 300px;
}

.narrow .leaflet-popup {

	width: 250px;
}

.leaflet-popup h2 {

	padding-right: 15px;
	line-height: 31px;
}

.leaflet-popup h2 a {

	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.leaflet-popup .decoration {

	margin-bottom: 10px;
}

.leaflet-popup .catch-meta span {

	display: inline-block;
	line-height: 25px;
	vertical-align: top;
	width: 50%;
}

.leaflet-popup .catch-meta .degrees {

	width: auto;
	padding-right: 5px;
}

.leaflet-popup .property {

	color: rgb(0, 171, 240);
}

.leaflet-popup .catch-meta img {

	max-height: 25px;
	display: inline-block;
}

.leaflet-popup .catch-image {

	text-align: center;
	margin-bottom: 10px;
}

.leaflet-popup .catch-image img {

	max-height: 150px;
	max-width: 100%;
	margin: 0 auto;
}
/*
.narrow.catchpopup .leaflet-popup {

	width: 100%;
	height: 100%;
	position: fixed;
	top: 50px!important;
	left: 0!important;
	overflow-y: auto!important;
	padding-bottom: 70px;
}

.narrow.catchpopup .leaflet-map-pane {

	-webkit-transform: none!important;
	   -moz-transform: none!important;
	    -ms-transform: none!important;
	     -o-transform: none!important;
	        transform: none!important;
	width: 100%;
	height: 100%;
	overflow: hidden!important;
	z-index: 99;
}

.narrow.catchpopup .leaflet-popup {

	-webkit-transform: none!important;
	   -moz-transform: none!important;
	    -ms-transform: none!important;
	     -o-transform: none!important;
	        transform: none!important;
	top: 50px!important;
	left: 0!important;
}

.narrow.catchpopup .leaflet-popup-content {

	width: auto!important;
}
*/
.footer-socials {

	text-align: center;
	margin: 10px 0;
	width: 100%;
}

.footer-socials .share-email-address {

	margin-top: 10px;
}

.footer-socials input {

	width: 80%;
	vertical-align: top;
	display: inline-block;
}

.footer-socials .button {

	width: 20%;
	vertical-align: top;
	display: inline-block;
	padding: 10px 0;
	text-align: center;
}

.footer-socials .button i {

	margin: 0;
	color: #fff;
}

.footer-icon {

	color: #fff!important;
	margin-bottom: 0;
	line-height: 0;
	padding: 11px 0;
	float: none;
	display: inline-block;
}

.footer-icon.footer-email {

	background-color: #f1c40f;
}


.footer-socials .share-email-address .button {

	padding: 14px 0;
	line-height: 0;
}

.leaflet-popup .location-score h2 {

	text-align: center;
}

.leaflet-popup .radial-progress {

	margin: 0 auto;
}

.hexagon {
	position: relative;
	width: 32px; 
	height: 18.48px;
	margin: 9.24px 0;
	color: #fff;
}

.hexagon span {

	position: absolute;
	display: block;
	width: 100%;
	line-height: 1;
	text-align: center;
}

.hexagon:before,
.hexagon:after {
	content: "";
	position: absolute;
	width: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
}

.hexagon:before {
	bottom: 100%;
	width: 0;

	border-bottom: 9.24px solid rgb(34, 39, 147);
}

.hexagon:after {
	top: 100%;
	width: 0;
	border-top: 9.24px solid rgb(34, 39, 147);
}

.no-bottom {

	margin-bottom: 0px;
}

 
/*  Size classes
 *
 */

/*---- 40 px ---- */

.hexagon[data-size="40"] {
  width: 40px; 
  height: 23.09px;
  margin: 11.55px 0;
}

.hexagon[data-size="40"]:before,
.hexagon[data-size="40"]:after {
  border-left-width: 20px;
  border-right-width: 20px;
  border-bottom-width: 11.55px;
  border-top-width: 11.55px;
}

/*---- 32 px ---- */

.hexagon[data-size="32"]{
    width: 32px; 
    height: 18.48px;
    margin: 9.24px 0;
}
.hexagon[data-size="32"]:before,
.hexagon[data-size="32"]:after{
    border-left-width: 16px;
    border-right-width: 16px;
    border-bottom-width: 9.24px;
    border-top-width: 9.24px;
}

/*---- 24 px ---- */
.hexagon[data-size="24"]{
    width: 24px; 
    height: 13.86px;
    margin: 6px 0;
}

.hexagon[data-size="24"]:before,
.hexagon[data-size="24"]:after{
    border-left-width: 12px;
    border-right-width: 12px;
    border-bottom-width: 6px;
    border-top-width: 6px;
}

/*---- 16 px ---- */
.hexagon[data-size="16"]{
    width: 16px; 
    height: 9.24px;
    margin: 4.0px 0;
}

.hexagon[data-size="16"]:before,
.hexagon[data-size="16"]:after{
    border-left-width: 8px;
    border-right-width: 8px;
    border-bottom-width: 4px;
    border-top-width: 4px;
}

.hexagon[data-hue="0"]{background-color:              #9BAAC5}
.hexagon[data-hue="0"]:before{ border-bottom-color:   #9BAAC5}
.hexagon[data-hue="0"]:after{ border-top-color:       #9BAAC5}

.hexagon[data-hue="10"]{background-color:               #9BAAC5 }
.hexagon[data-hue="10"]:before{ border-bottom-color:    #9BAAC5 }
.hexagon[data-hue="10"]:after{ border-top-color:        #9BAAC5 }

.hexagon[data-hue="20"]{background-color:              #9BAAC5}
.hexagon[data-hue="20"]:before{ border-bottom-color:   #9BAAC5}
.hexagon[data-hue="20"]:after{ border-top-color:       #9BAAC5}

.hexagon[data-hue="30"]{background-color:               #9BAAC5 }
.hexagon[data-hue="30"]:before{ border-bottom-color:    #9BAAC5 }
.hexagon[data-hue="30"]:after{ border-top-color:        #9BAAC5 }

.hexagon[data-hue="40"]{background-color:              #37558B}
.hexagon[data-hue="40"]:before{ border-bottom-color:   #37558B}
.hexagon[data-hue="40"]:after{ border-top-color:       #37558B}

.hexagon[data-hue="50"]{background-color:               #37558B }
.hexagon[data-hue="50"]:before{ border-bottom-color:    #37558B }
.hexagon[data-hue="50"]:after{ border-top-color:        #37558B }

.hexagon[data-hue="60"]{background-color:              #37558B}
.hexagon[data-hue="60"]:before{ border-bottom-color:   #37558B}
.hexagon[data-hue="60"]:after{ border-top-color:       #37558B}

.hexagon[data-hue="70"]{background-color:              #042663}
.hexagon[data-hue="70"]:before{ border-bottom-color:   #042663}
.hexagon[data-hue="70"]:after{ border-top-color:       #042663}

.hexagon[data-hue="80"]{background-color:               #042258 }
.hexagon[data-hue="80"]:before{ border-bottom-color:    #042258 }
.hexagon[data-hue="80"]:after{ border-top-color:        #042258 }

.hexagon[data-hue="90"]{background-color:               #031942 }
.hexagon[data-hue="90"]:before{ border-bottom-color:    #031942 }
.hexagon[data-hue="90"]:after{ border-top-color:        #031942 }

.hexagon[data-hue="100"]{background-color:              #031942}
.hexagon[data-hue="100"]:before{ border-bottom-color:   #031942}
.hexagon[data-hue="100"]:after{ border-top-color:       #031942}


.hexagon.catch-group{background-color:              #9BAAC5}
.hexagon.catch-group:before{ border-bottom-color:   #9BAAC5}
.hexagon.catch-group:after{ border-top-color:       #9BAAC5}

label {

	border-bottom: 1px solid #ddd;
}

#weather-data li {

	padding: 5px 0;
	list-style: none;
}

#weather-data li span {

	/*margin-right: 10px;*/
	width: 20%;
	display: inline-block;
	text-align: center;
}

#weather-data li span.time {

	text-align: left;
}

#weather-data li.weather-date {

	border-bottom: 1px solid #ccc;
}

#weather-data li span.wind-direction {

	width: 20px;
}

#weather-data li span:last-child {

	margin-right: 0;
}

#weather-data img {

	max-width: 20px;
	height: auto;
}

.view-baitwizard img {

	max-width: 100%;
}

/* OVERRIDDEN */
.homepage-top{	

	margin-bottom: 0;
	overflow: visible;
	z-index: 999;
}

.catch-probability-meter {

	position: fixed;
	bottom: 10px;
	left: 5%;
	width: 90%;
	height: 20px;
	border-radius: 10px;
	background: #80e079; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgwZTA3OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VmZWE1OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjMyMzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #80e079 0%, #efea58 50%, #ff3232 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#80e079), color-stop(50%,#efea58), color-stop(100%,#ff3232)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #80e079 0%,#efea58 50%,#ff3232 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #80e079 0%,#efea58 50%,#ff3232 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #80e079 0%,#efea58 50%,#ff3232 100%); /* IE10+ */
	background: linear-gradient(to right,  #80e079 0%,#efea58 50%,#ff3232 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80e079', endColorstr='#ff3232',GradientType=1 ); /* IE6-8 */
	border: 1px solid #999;
	z-index: 997;
	overflow: hidden;
}

.catch-probability-meter .catch-probability {

	position: absolute;
	left: 0;
	top: 0;
	height: 20px;
	background-color: transparent;
	text-align: right;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	width: 100%;
	border-radius: 0 10px 10px 0;
	-webkit-transition: width 0.5s;
	   -moz-transition: width 0.5s;
	    -ms-transition: width 0.5s;
	     -o-transition: width 0.5s;
	        transition: width 0.5s;
	text-align: center;
	color: #3d3d3d;
	z-index: 2;
}

.catch-probability-meter .catch-probability-filter {

	position: absolute;
	right: 0;
	top: 0;
	height: 20px;
	width: 50%;
	background-color: rgb(245, 245, 245);
	border-radius: 0 10px 10px 0;
	-webkit-transition: width 0.5s;
	   -moz-transition: width 0.5s;
	    -ms-transition: width 0.5s;
	     -o-transition: width 0.5s;
	        transition: width 0.5s;
}

.catch-probability-meter .catch-probability[data-probability="20"] {
	width: 20%;
}

.nav-item {

	color: #000;
}

li {

	font-size: 16px;
}

table {

	border: 1px solid #e9e9e9;
	border-right: 0;
}

#location-probability {

	text-align: center;
}

#progress-indicator {

	margin: 50px auto;
}

#progress-indicator * {

	overflow: visible;
}

.popup-buttons {

	text-align: center;
	margin-bottom: 10px;
}

.popup-buttons .button-light {

	color: #000;
	width: 100%;
	padding: 0;
	line-height: 34px;
}

.noUi-handle {

	overflow: visible;
}

.tooltip-inner {

	max-width: 200px;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #000;
	border-radius: 4px;
}


.tooltip-arrow {

	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.tooltip.top {

	padding: 5px 0;
	margin-top: -3px;
	position: absolute;
	top: -30px;
	opacity: 0;
	width: 100%;
}


.noUi-handle:hover .tooltip.top {

	opacity: 1;
}

.tooltip.top .tooltip-arrow {

	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000;
}

.hidden {

	display: none;
}

.button-wide {

	display: block;
	width: 100%;
}

#info {

	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.8);
	z-index: 998;
}

#info-content {

	width: 960px;
	max-width: 100%;
	margin: 0 auto;
	padding: 20px;
	background: #fff;
	top: 50px;
	height: 90%;
	height: calc(100% - 50px);
	overflow-y: auto;
}

#info-content h1, #info-content h2 {

	color: rgb(0, 171, 240);
}

#info-content img.icon {

	float: left;
	max-height: 30px;
	margin-right: 5px;
}

#info-content img.brand {

	display: inline-block;
	margin-right: 10px;
	max-width: 100px;
}

#info-content p {

	margin-bottom: 10px;
}

#info-content i {

	font-size: 18px;
}

.close-info, .close-info:hover {

	cursor: pointer;
	color: rgb(0, 171, 240);
}

#info-content .close-info i {

	font-size: 24px;
}

.radial-progress .circle .mask .fill {

	background-color: rgb(0, 171, 240);
}

#logo {

	position: absolute;
	bottom: 50px;
	right: 10px;
	width: 80px;
	max-width: 20%;
	z-index: 9;
	opacity: 0.5;
}

.branding img {

	vertical-align: middle;
}

.center {

	text-align: center;
}

.center * {

	margin: 0 auto;
}

.top-bar-title a {

	display: inline-block;
	position: relative!important;
	width: auto!important;
}

.top-bar-title img {

	max-height: 50px;
}

#compass {

	position: fixed;
	left: 50%;
	margin-left: -32px;
	top: 50%;
	margin-top: -32px;
	z-index: 997;
	height: 65px;
	width: 65px;
	border: 2px solid #000;
	border-radius: 50%;
	text-align: center;
	line-height: 65px;
	background-color: #f5f5f5;
	background-color: rgba(250, 250, 250, 0.3);
}

#compass i {

	font-size: 56px;
	color: #000;
}

.addcatch-email-warning, .addcatch-species-warning, .signin-email-warning, .signin-password-warning {

	color: red;
}

.leaflet-bar a, .leaflet-control-layers-toggle, .leaflet-popup-close-button, .map-tooltip.closable .close, .mapbox-button-icon:before, .mapbox-icon {

	padding: 11px 0;
	font-size: 28px;
	text-align: center;
	background: none;
	text-indent: 0;
	height: auto;
	width: 38px;
}

.fa-2x {

	font-size: 1.5em;
}